* {
    box-sizing: border-box;
  }
  
  body {
    background: #eceef1;
    font-family: Lato,'Helvetica Neue 27px',Arial, Helvetica, sans-serif serif;
    color: #333a45;
  }
  
  .wrapper {
    /* margin: 5em auto;
    max-width: 1000px; */
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  }
  
  .header {
    padding: 30px 30px 0;
    text-align: center;
  }
  .header__title {
    margin: 0;
    /* text-transform: uppercase; */
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
  }
  .header__subtitle {
    margin: 0;
    font-size: 1.5em;
    color: #949fb0;
    font-family: 'Yesteryear', cursive;
    font-weight: 500;
    line-height: 1.1;
  }
  
  .cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  
  .card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
  }
  @media screen and (max-width: 991px) {
    .card {
      width: calc((100% / 2) - 30px);
    }
  }
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
    }
  }
  .card:hover .card__inner {
    background-color:#4169E1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .card__inner {
    width: 100%;
    padding: 20px;
    position: relative;
    cursor: pointer;
    background-color: #1E90FF;
    color: #eceef1;
    font-size: 16px;
    /* text-transform: uppercase; */
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .card__inner:after {
    transition: all 0.3s ease-in-out;
  }
  .card__inner .fa {
    width: 100%;
    margin-top: .25em;
  }
  .card__expander {
    transition: all 0.2s ease-in-out;
    /* background-color: #333a45; */
    width: 100%;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* text-transform: uppercase; */
    color: #eceef1;
    font-size: 1.5em;
  }
  .card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: -20px;
    cursor: pointer;
  }
  .card__expander .fa:hover {
    opacity: 0.9;
  }
  .card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
  }
  .card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
  }
  .k-toolbar {
    display: none;
    background-clip: padding-box;
}
.k-layer
{
    height: 950px !important;
    width: 100% !important;
}
.k-diagram {
    height: 600px;
    width: 100%;
}
  .card.is-expanded .card__inner {
    background-color:#4169E1;
  }
  .card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #4169E1;
  }
  .card.is-expanded .card__inner .fa:before {
    content: "\f115";
  }
  .card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
  }
  .card.is-expanded:hover .card__inner {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
  }
  .card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  @media screen and (min-width: 992px) {
    .card:nth-of-type(3n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(3n+3) .card__expander {
      margin-left: calc(-200% - 60px);
    }
    
    .card:nth-of-type(3n+4) {
      clear: left;
    }
  
    .card__expander {
      width: calc(300% + 60px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n+2) .card__expander {
      margin-left: calc(-100% - 30px);
    }
  
    .card:nth-of-type(2n+3) {
      clear: left;
    }
  
    .card__expander {
      width: calc(200% + 30px);
    }
  }
  .card {
border: none !important;  
position :inherit !important;
}
.km-scroll-wrapper
{
  overflow: scroll !important;
}